services:
  postgres:
    image: postgres:15-alpine
    container_name: anti-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: anti_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mailpit:
    image: axllent/mailpit
    container_name: anti-mailpit
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  postgres_data:
